<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO List</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>TODO List</h1>

<ul id="todo-list">
    <!-- Items will be added dynamically here -->
</ul>

<script>
    $(document).ready(function() {
        // Make GET request to fetch TODOs
        $.get("/api/todos", function(todos) {
            // Iterate through the array of todos
            todos.forEach(function(todo) {
                // Append each todo item to the list
                $("#todo-list").append("<li>" + todo.task + "</li>");
            });
        });
    });
</script>
</body>
</html>
